In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("C:/Users/HP/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding='latin-1')

In [4]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [5]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [13]:
df['Y2014'].sum()

7965086.130000001

In [12]:
df.mean()

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

In [44]:
df.std()

Area Code         72.605709
Item Code        146.055739
Element Code    2212.007033
Y2014           1567.663696
Y2015           1603.403984
Y2016           1640.007194
Y2017           1671.862359
Y2018           1710.782658
dtype: float64

In [42]:
corr=df['Element Code'].corr(method='pearson', min_periods=1)

TypeError: corr() missing 1 required positional argument: 'other'

In [19]:
df['Area'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "CÃ´te d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [26]:
grouped = df.groupby(["Y2018", "Element"],sort=False).sum()

In [28]:
grouped

                                                 Area Code  Item Code  \
Y2018    Element
42228.00 Total Population - Both sexes                   4       2501
0.00     Domestic supply quantity                   194906    3917812
3322.00  Food supply (kcal/capita/day)                   4       2901
91.83    Protein supply quantity (g/capita/day)          4       2901
77.28    Fat supply quantity (g/capita/day)              4       2901
...                                                    ...        ...
20.79    Import Quantity                               181       2763
19.41    Domestic supply quantity                      181       2763
18.76    Food                                          181       2763
0.99     Domestic supply quantity                      181       2764
         Food                                          181       2764

                                                 Element Code     Y2014  \
Y2018    Element
42228.00 Total Population - Both sexes                    511  38924.00
0.00     Domestic supply quantity                     7909092    470.75
3322.00  Food supply (kcal/capita/day)                    664   3377.00
91.83    Protein supply quantity (g/capita/day)           674     94.90
77.28    Fat supply quantity (g/capita/day)               684     80.06
...                                                       ...       ...
20.79    Import Quantity                                 5611     22.57
19.41    Domestic supply quantity                        5301     22.54
18.76    Food                                            5142     15.29
0.99     Domestic supply quantity                        5301      0.54
         Food                                            5142      0.54

                                                    Y2015     Y2016     Y2017
Y2018    Element
42228.00 Total Population - Both sexes           39728.00  40551.00  41389.00
0.00     Domestic supply quantity                  369.74    219.64    165.00
3322.00  Food supply (kcal/capita/day)            3379.00   3372.00   3341.00
91.83    Protein supply quantity (g/capita/day)     94.35     94.72     92.82
77.28    Fat supply quantity (g/capita/day)         79.36     77.40     80.19
...                                                   ...       ...       ...
20.79    Import Quantity                            26.35     24.54     20.79
19.41    Domestic supply quantity                   26.35     23.82     19.41
18.76    Food                                       19.31     19.45     18.76
0.99     Domestic supply quantity                    0.48      0.60      0.99
         Food                                        0.48      0.60      0.99

[9254 rows x 7 columns]

In [32]:
 df.groupby(["Y2014"]).sum()

,Area Code,Item Code,Element Code,Y2015,Y2016,Y2017,Y2018
Y2014,,,,,,,
-1796.0,159,2657,5072,-73.0,-12.0,0.0,0.0
-1631.0,159,2924,5072,6.0,-77.0,-689.0,5.0
-849.0,266,5444,10340,-1118.0,-1119.0,-1200.0,-1196.0
-838.0,184,2907,5072,-827.0,-679.0,-538.0,-567.0
-685.0,143,2905,5072,3418.0,-3225.0,689.0,399.0
...,...,...,...,...,...,...,...
90425.0,59,2501,511,92443.0,94447.0,96443.0,98424.0
98094.0,238,2501,511,100835.0,103603.0,106400.0,109224.0
108756.0,159,2907,5301,110798.0,116483.0,112625.0,117038.0
109593.0,159,2907,5511,111663.0,119330.0,117702.0,118172.0
176405.0,159,2501,511,181137.0,185960.0,190873.0,195875.0

In [35]:
 df.groupby(["Element"],sort=True).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [40]:
 df.groupby(["Area","Element"]).sum()

                                                 Area Code  Item Code  \
Area     Element
Algeria  Domestic supply quantity                      464     311204
         Export Quantity                               392     264011
         Fat supply quantity (g/capita/day)            432     291489
         Feed                                           88      58967
         Food                                          420     282744
...                                                    ...        ...
Zimbabwe Protein supply quantity (g/capita/day)      20453     304589
         Residuals                                   18824     277476
         Seed                                         3439      50560
         Stock Variation                             17195     254157
         Total Population - Both sexes                 181       2501

                                                 Element Code     Y2014  \
Area     Element
Algeria  Domestic supply quantity                      614916  83755.94
         Export Quantity                               579278   1328.64
         Fat supply quantity (g/capita/day)             73872    320.19
         Feed                                          121462   9656.04
         Food                                          539910  60582.69
...                                                       ...       ...
Zimbabwe Protein supply quantity (g/capita/day)         76162    184.23
         Residuals                                     537680   -252.00
         Seed                                          105013    144.00
         Stock Variation                               481840   -644.00
         Total Population - Both sexes                    511  13587.00

                                                    Y2015     Y2016     Y2017  \
Area     Element
Algeria  Domestic supply quantity                85972.86  87157.61  86810.42
         Export Quantity                          1104.62   1340.22   1494.54
         Fat supply quantity (g/capita/day)        317.40    309.54    320.74
         Feed                                    10308.00   9903.00   9571.00
         Food                                    61693.49  63081.43  62785.33
...                                                   ...       ...       ...
Zimbabwe Protein supply quantity (g/capita/day)    175.31    172.72    175.31
         Residuals                                -780.00   -882.00  -1083.00
         Seed                                      128.00    127.00    162.00
         Stock Variation                          -343.00    221.00    458.00
         Total Population - Both sexes           13815.00  14030.00  14237.00

                                                    Y2018
Area     Element
Algeria  Domestic supply quantity                90023.42
         Export Quantity                           811.54
         Fat supply quantity (g/capita/day)        309.09
         Feed                                    10668.00
         Food                                    63736.33
...                                                   ...
Zimbabwe Protein supply quantity (g/capita/day)    176.57
         Residuals                                -546.00
         Seed                                      140.00
         Stock Variation                          -447.00
         Total Population - Both sexes           14439.00

[803 rows x 8 columns]

In [41]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000